// BASE
@import "base/var";
@import "base/fonts";
@import "base/base-styles";
@import "base/modificators";


// PARTIALS

//Universal parts
@import "partials/popups";
@import "partials/sliders";
@import "partials/block-headings";
@import "partials/header-menu__button";

//Client page
@import "partials/header";
@import "partials/navigation";
@import "partials/preview";
@import "partials/clients";
@import "partials/footer";

//Main page
@import "partials/cases";
@import "partials/geoshamanism";
@import "partials/mainPage-skills";

//Wakeup-videos
@import "partials/wakeup-videos.styl";

