// base
@import "base/var";
@import "base/fonts";
@import "base/base-styles";

// partials
@import "partials/header";
@import "partials/navigation";
@import "partials/sliders";
@import "partials/preview";
@import "partials/clients";
@import "partials/footer";