// base
@import "base/var";
@import "base/fonts";
@import "base/base-styles";
@import "base/modificators";

// partials

@import "partials/header";
@import "partials/header-menu__button";
@import "partials/navigation";
@import "partials/preview";
@import "partials/clients";
@import "partials/footer";

//Main page
@import "partials/cases";

@import "partials/sliders";
@import "partials/block-headings";