//
// Font stacks
main-ff= 'OpenSans-Bold', 'sans pro', 'serif'
secondary-ff= 'OpenSans-Regular', 'sans pro', 'serif'
third-ff= 'Material', 'sans pro', 'serif'
forth-ff= 'AvantGardeGothicC-Demi', 'sans pro', 'serif'

//
// Colors
white= #ffffff
black= #000000
warm-grey= #7a7a7a
dark-sky-blue= #3687e6
black-two= #111111
dandelion= #ffe500