.white, .black {

    &-heading {
        width: 160px;
        position: relative;

        margin: 60px 0 70px 25%;
        padding: 17px 0;

        font-size: 20px;
        letter-spacing: 0.8px;
        text-align: center;
        text-transform: uppercase;

        background-color: white;
        color: black;
    }
}

.black-heading {
    width: 250px;
    background-color: black;
    color: white;
}

.white-heading:after, .black-heading:after {
    content: url(../images/white-triangle.svg);
    position: absolute;
    bottom: -34%;
    left: 40%;
}

.white-heading:before, .black-heading:before {
    content: '';
    background: warm-grey;
    height: 1px;
    width: 1000%;
    position: absolute;
    bottom: -16px;
    right: -100%;
    left: -949%;
    z-index: 5;
}

.black-heading:after {
    content: url(../images/black-triangle.svg);
    fill: black;
    left: 44%;
}

.black-heading:before {
    right: -949%;
    left: 50.5%;
}

///////////////////////////////////////////

.awards-heading {
    margin: 60px 0 70px 20%;
}

///////////////////////////////////////////

.clients-heading, .geoshamanism__heading{
    width: 250px;
    margin: 60px 0 70px 8%;
}
.clients-heading:before {
    left: -953%;
}

.clients-heading_rightline:before {
    right: -947%;
    left: inherit;
}

///////////////////////////////////////////

.navigation-box__heading {
    margin: 0 30px 0 0;
    float: right;
    z-index: 15;
}
.navigation-box__heading:before, .geoshamanism__heading:before {
    display: none;

}

///////////////////////////////////////////

.dots__clip {
    padding-top: 85px;
    margin: 0;
    width: 190px;
}

.dots__clip:after {
    bottom: -15%;
    left: 41%;
}

///////////////////////////////////////////

.geoshamanism__heading {
    margin: 0 auto;
}

@media screen and (max-width: 1340px) {
    
    .cases {
        margin-bottom: 240px;
    }

    .dots__clipBox {
        bottom: -123px;
        right: 0;
        left: initial;
        position: absolute;
        width: 580px;
    }

    .dots__clip {
        width: 100%;
    }

    .dots__clip:after {
        left: 48%;
    }
}

@media screen and (max-width: 1261px) {

    .dots__clipBox {
        width: 100%;
    }
}

@media screen and (max-width: 778px) {

    .dots {
        display: none;
    }

    .navigation-box_mainPage {
        width: 75%;
        margin: 0 auto;
        float: initial;
    }

    .header-menu_mainPage {
        float: initial;
        margin: 0 auto;
    }

    .navigation-box__heading {
        margin: 0 auto;
        float: initial;
    }

    .cases__heading {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {

    .dark-heading, .white-heading {
        margin: 60px auto 70px;
    }

    .navigation-box__heading, .dots__clip {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {

    .navigation-box_mainPage {
        width: 100%;
    }

    .cases__heading {
        font-size: 25px;
        padding-left: 30px;
    }
}



