.header {
  height: 160px;
  position: relative;

  background-color: black-two;

  &-wrapper {
    position: relative;
  }

  &-logo {
    display: inline-block;
    margin: 60px 45px 60px 0;
    width: 44px;
    height: 45px;

    position: absolute;
    right: 0;
    z-index: 2;
  }
  
  &-menu__button {
    display: inline-block;
    margin: 60px 0 60px 45px;
    width: 47px;
    height: 41px;

    position: absolute;
    left: 0;
    z-index: 3;
  }

  &-menu__button:hover {
    cursor: pointer;
  }

  &-link-box {
      position: absolute;
      bottom: 40%;
      width: 100%;
      text-align: center;

    &__link {
      margin-left: 9px;
      position: relative;

      font-family: secondary-ff;
      font-size: 20px;
      color: warm-grey;
    }

    &__link:after {
      content: "|";

      position: absolute;
      right: -10px;
    }

    &__link:last-of-type:after {
      content: " ";
    }

    &__link:first-of-type {
      margin-left: 0;
    }

    &__link:hover {
      color: warm-grey;
    }

    &__link:focus {
      color: warm-grey;
    }
  }

  &-menu {
    max-width: 450px;
    width: 100%;

    padding: 170px 80px 90px;

    position: absolute;
    z-index: 10;

    text-align: left;
    background-color: dandelion;

    &__item {
      margin-bottom: 40px;

      display: block;

      font-family: secondary-ff;
      font-size: 25px;
      color: black;
      white-space: nowrap;
      line-height: 30px;
    }

    &__item:last-of-type  {
      margin-bottom: 0;
    }

    &__item:hover {
      font-family: main-ff;
    }

    &__item:hover:before {
        line-height: 24.4px;
        content: url('../images/mainPage-menu-before.png');

        position: absolute;
        left: 0;
        margin-top: 3px;

        font-family: third-ff;
        vertical-align: middle;
    }

    &__item:hover:after {
        line-height: 24.4px;
        content: "\f2ee";
        margin-left: 10px;

        font-family: third-ff;
        vertical-align: middle;
    }

    &__button {
      
    }
  }
}

@media screen and (max-width: 460px) {
  .header {
    align-items: initial;
    height: 160px;
    position: relative;
  }

  .header-menu {
    padding: 130px 80px 90px;
}

  .header-logo, .header-menu__button {
    margin: 15px;
  }

  .header-link-box {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
  }
}