.mfp-content {
    width: 640px !important;
}

.video-popup {
    width: 640px;
    height: 360px;
}


@media screen and (max-width: 670px) {

    .video-popup {
        width: 360px;
        height: 240px;
        margin: 0 auto;
    }

    .mfp-content {
        width: 360px !important;
    }
}

@media screen and (max-width: 374px) {

    .video-popup {
        width: 240px;
        height: 135px;
        margin: 0 auto;
    }

    .mfp-content {
        width: 240px !important;
    }
}