.awards {
    margin: 0 15px;

    &-header {
        padding-top: 60px;
        
        &__text {
            width: 160px;
            position: relative;

            margin: 60px 0 70px 20%;
            padding: 17px 0;

            font-size: 20px;
            letter-spacing: 0.8px;
            text-align: center;
            text-transform: uppercase;

            background-color: white;
            color: black;
        }

        &__text:after {
             content: url(../images/white-triangle.svg);

            position: absolute;
            bottom: -35%;
            left: 40%;
        }

        &__text:before {
            content: '';
            background: warm-grey;
            height: 1px;
            width: 1000%;
            position: absolute;
            bottom: -17px;
            right: -100%;
            left: -949%;
            z-index: 5;
        }
    }
}

.preview {
    width: 48.5%;
    margin: 0 0 60px 0;

    display: inline-block;
    float: left;
    position: relative;

    &__image {
        position: relative;
    }

    &-description {

        &__text {
            padding-left: 200px;
            margin-top: 10px;
            padding-right: 55px;

            &-content {
                font-size: 20px;
                letter-spacing: 0.4px;
                text-transform: uppercase;

                color: white;
            }
        }
    }
}

.preview:nth-child(even) {
    margin-left: 2.5%;
}

.award {
    width: 185px;
    height: 160px;
    margin-top: -80px;

    position: relative;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: dandelion;

    &__image {
        margin-bottom: 13px;
    }

    &__text {
        font-family: forth-ff;
        font-size: 20px;
        letter-spacing: 0.4px;
        text-align: center;

        color: black;

        &_left {
            width: 70%;
            margin: 0 auto;
        }
    }
}

.preview-video {

    &__play {
        color: white;
        cursor: pointer;

        padding: 23px;
        border: 1px solid white;
        border-radius: 30px;
        width: 230px;
        height: 60px;
        font-size: 20px;
        line-height: 0.7;
        text-transform: uppercase;
        text-align: center;
    }

    &-box {
        opacity: 0;

        width: 100%;
        height: 99%;

        position: absolute;
        top: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-box:hover {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }

    &-wrapper {
        position: relative;
    }
}

@media screen and (max-width: 980px) {
    
    .preview {
        width: 580px;
        margin: 0 auto;
        margin-bottom: 40px;
        float: initial;
        display: inherit;
    }

    .award {
        width: 100%;
        height: 110px;
        margin-top: -5px;
        float: initial;
        display: inherit;
    }

    .award__image {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .preview__discription {
        text-align: center;
    }

    .preview-description__text {
        padding-left: 0;
        padding-right: 0;
    }

    .preview:nth-child(even) {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 610px) {
    
    .preview {
        width: 100%;
    }

    .preview2, .preview3 {
        display: none;
    }

    .award__text_left {
        width: 100%;
    }

    .award {
        height: 95px;
    }
}