.caseStudy2 {
    margin-bottom: 35px;
    
    &__heading {
        width: 220px;
        margin: 0 0 35px 0;
        margin-right: 15px;
        
        float: right;
        
        color: black;
        background-color: white;
    }

    &__heading:after {
        position: absolute;
        bottom: -34%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
    }
    
    &__heading:before {
        right: -952%;
    }

    &__text {
        max-width: 475px;
        margin: 0 auto;
        margin-bottom: 55px;
        padding: 0 15px;

        &_bold {
            font-size: 30px;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__text2 {
        max-width: 475px;
        margin: 0 auto;
        margin-bottom: 55px;
        padding: 0 15px;

        font-family: secondary-ff;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }

    &-video {
        height: 400px;
        width: 710px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    &-slider {
        width: 710px;
        margin: 0 auto;
    }
}

.caseStudy2-slider, .slick-dots {
    position: initial;
}

@media screen and (max-width: 778px){

    .caseStudy2-video {
        height: 250px;
        width: 455px;
        margin-bottom: 50px;
    }

    .caseStudy2-slider {
        width: 455px;
    }
}

@media screen and (max-width: 480px){

    .caseStudy2-video {
        height: 200px;
        width: 320px;
        margin-bottom: 50px;
    }

    .caseStudy2-slider {
        width: 320px;
    }
}