.caseStudy1 {
    margin-bottom: 35px;
    
    &__heading {
        margin: 0 0 45px 0;
        width: 220px;
        margin-left: 15px;
    }
    
    &__heading:before {
        left: -952%;
    }

    &__text, .caseStudy2__text {
        max-width: 475px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__3dBox {

    }
}