.caseStudy2 {
    margin-bottom: 35px;
    
    &__heading {
        width: 220px;
        margin: 0 0 35px 0;
        margin-right: 15px;
        
        float: right;
        
        color: black;
        background-color: white;
    }

    &__heading:after {
        content: url(../images/white-triangle.svg);
        position: absolute;
        bottom: -34%;
        left: 40%;
    }

    &__heading:before {
        left: 47%;
    }
    
    &__heading:before {
        right: -952%;
    }

    &__text {
        margin: 0 auto;
        margin-bottom: 55px;
        padding: 0 15px;
    }

    &__text2 {
        max-width: 475px;
        margin: 0 auto;
        margin-bottom: 55px;
        padding: 0 15px;

        font-family: secondary-ff;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }

    &-video {
        height: 400px;
        width: 710px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    &-slider {
        width: 710px;
        margin: 0 auto;
    }
}

#twoxtwo-slider, .slick-dots {
    position: initial;
}
#twoxtwo-slider, .dark-block__slider-box {
    float:initial;
    width: 100%;
    margin: 0 0 50px 0;
}

@media screen and (max-width: 778px){

    .caseStudy2-video {
        height: 250px;
        width: 455px;
        margin-bottom: 50px;
    }

    .caseStudy2-slider {
        width: 455px;
    }
}

@media screen and (max-width: 480px){

    .caseStudy2-video {
        height: 200px;
        width: 320px;
        margin-bottom: 50px;
    }

    .caseStudy2-slider {
        width: 320px;
    }
}