*{
  box-sizing: border-box;
  transition: all .2s;
  outline: none;
}

html {
    font-size: 16px;
    line-height: 22px;
    height: 100%;
    margin: 0 !important;
}
body {
  margin: 0;
  font-family: main-ff !important;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.wide-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.clearfix:after { 
   content: '.';
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
   font-size: 0;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}

p {
  color: white;
  font-family: secondary-ff;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

a:focus {
  text-decoration: none !important;
  outline: none !important;
}

.content {
  background-color: black-two;
  overflow: hidden;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  
  .reverse {
    flex-direction: column;
  }
}

.slogan {
    width: 90%;
    height: 465px;
}