@font-face {
    font-family: 'AvantGardeGothicC-Demi';
    src: url('../fonts/AvantGardeGothicC-Demi.otf');
    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('../fonts/Material-Design-Iconic-Font.ttf') format("truetype");
    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold_0.ttf') format("truetype");
    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular_0.ttf');
    
    font-style: normal;
    font-weight: normal;
}