@font-face {
    font-family: 'Material';
    src: url('../fonts/Material-Design-Iconic-Font.eot');
    src: url('../fonts/Material-Design-Iconic-Font.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Material-Design-Iconic-Font.woff') format('woff'),
    url('../fonts/Material-Design-Iconic-Font.ttf') format("truetype");
    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvantGardeGothicC-Demi';
    src: url('../fonts/avantgardegothicc-demi.eot');
    src: url('../fonts/avantgardegothicc-demi.eot?#iefix')format('embedded-opentype'),
    url('../fonts/avantgardegothicc-demi.otf'),
    url('../fonts/avantgardegothicc-demi.woff') format('woff'),
    url('../fonts/avantgardegothicc-demi.ttf') format("truetype");
    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix')format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format("truetype");
    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src :url('../fonts/OpenSans-Regular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf');
    
    font-style: normal;
    font-weight: normal;
}